services:


  dev:
    container_name: trans-dev
    image: ima-dev
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      target: dev
    volumes:
      - ..:/app
      - /app/node_modules
    # ports:
    # - "3000:3000"
    # - "5173:5173"
    environment:
      - NODE_ENV=development
      - DEBUG=true
      - LOGSTASH_HOST=${LOGSTASH_HOST}
      - LOGSTASH_PORT=${LOGSTASH_PORT}
    restart: unless-stopped
    depends_on:
      - logstash
    networks:
      - app-network






# A FAIRE NEXT

# archivage des logs trop anciens ou pas important
# securite conteneur et donnees
# prometheus et grafana





  # prod:
  #   container_name: trans-prod
  #   image: ima-prod
  #   build:
  #     context: ..
  #     dockerfile: .devcontainer/Dockerfile
  #     target: prod
  #   # volumes:
  #   #   - ..:/app
  #   # - /app/node_modules
  #   ports:
  #     - "3000:3000"
  #   command: ["npm", "start"]
    # environment:
    #   - NODE_ENV=production
    #   - LOGSTASH_HOST=${LOGSTASH_HOST}
    #   - LOGSTASH_PORT=${LOGSTASH_PORT}
  #   depends_on:
  #     - logstash
  #   networks:
  #     - app-network




  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: trans-elasticsearch
    environment:
      - cluster.name=${CLUSTER_NAME}
      - node.name=${NODE_NAME}
      - discovery.type=single-node
      - xpack.security.enabled=true
      - "ES_JAVA_OPTS=${ES_JAVA_OPTS}"
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - xpack.license.self_generated.type=basic
    ports:
      - "${ELASTIC_PORT}:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
      - ./../monitoring/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
    networks:
      - app-network




  logstash:
    image: docker.elastic.co/logstash/logstash:8.11.0
    container_name: trans-logstash
    ports:
      - "${LOGSTASH_PORT}:5044"
    volumes:
      - ./../monitoring/logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    depends_on:
      - elasticsearch
    environment:
      - "LS_JAVA_OPTS=${LS_JAVA_OPTS}"
      - ELASTIC_USER=${ELASTIC_USER}
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - ELASTIC_HOST=${ELASTIC_HOST}
      - LOGSTASH_HOST=${LOGSTASH_HOST}
      - LOGSTASH_PORT=${LOGSTASH_PORT}
    networks:
      - app-network




  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.0
    container_name: trans-kibana
    ports:
      - "${KIBANA_PORT}:5601"
    environment:
      - KIBANA_PORT=${KIBANA_PORT}
      - ELASTIC_URL=${ELASTIC_URL}
      - SERVER_NAME=${KIBANA_SERV_NAME}
      - REPORTING_KEY=${REPORTING_KEY}
      - SECURITY_KEY=${SECURITY_KEY}
      - SAVED_OBJECTS_KEY=${SAVED_OBJECTS_KEY}
      - XPACK_SECURITY_ENABLED=true
      - XPACK_SECURITY_ENROLLMENT_ENABLED=false
      - LOGGING_ROOT_LEVEL=info
      - KIBANA_TOKEN=${KIBANA_TOKEN}
    volumes:
      - ./../monitoring/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
      - kibana_data:/usr/share/kibana/data
    depends_on:
      - elasticsearch
    networks:
      - app-network


  kibana-init:
    container_name: trans-init-kibana
    image: curlimages/curl:latest
    depends_on:
      - kibana
    volumes:
      - ./../monitoring/kibana/saved_objects:/usr/share/kibana/saved_objects:ro
      - ./../monitoring/kibana/init.sh:/init.sh:ro
    command: ["sh", "/init.sh"]
    restart: "no"
    networks:
      - app-network



  prometheus:
    image: prom/prometheus:latest
    container_name: trans-prometheus
    ports:
      - "${PROMETHEUS_PORT}:9090"
    volumes:
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=30d'
      - '--web.enable-lifecycle'
    networks:
      - app-network




  node-exporter:
    image: prom/node-exporter:latest
    container_name: trans-node-exporter
    ports:
      - "${NODE_EXP_PORT}:9101"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - app-network




  grafana:
    image: grafana/grafana:latest
    container_name: trans-grafana
    ports:
      - "${GRAFANA_PORT}:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus
    networks:
      - app-network




volumes:
  elasticsearch_data:
  kibana_data:
  prometheus_data:




networks:
  app-network:
    name: app-network
    driver: bridge
