services:
    dev:
        container_name: trans-dev
        image: ima-dev
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
            target: dev
        volumes:
            - ..:/app
            - /app/node_modules
        ports:
            - "3001:3000"
            - "3443:3443"
            - "5174:5174"
        environment:
            - NODE_ENV=development
            - DEBUG=true
        restart: unless-stopped

    # prod:
    #     container_name: trans-prod
    #     image: ima-prod
    #     build:
    #         context: ..
    #         dockerfile: .devcontainer/Dockerfile
    #         target: prod
    #     # volumes:
    #     #   - ..:/app
    #     # - /app/node_modules
    #     ports:
    #         - "3000:3001"
    #     command: ["npm", "start"]
    #     environment:
    #         - NODE_ENV=production
