global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

rule_files:
  - "alert_rules.yml"

scrape_configs:

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    metrics_path: /metrics
    scrape_interval: 15s

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['trans-node-exporter:9100']
    metrics_path: /metrics
    scrape_interval: 15s

  - job_name: 'trans-dev'
    static_configs:
      - targets: ['trans-dev:3000']
    metrics_path: /metrics
    scrape_interval: 30s
    scrape_timeout: 5s